@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: "Roboto";
    box-sizing: border-box;
}
body {
    background-color: #2C3E50;
    margin: 0;
    padding: 0;
}
header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #fff;
    h1 {
        color: #2c3e50;
        font-size: 40px;
        font-weight: 700;
    }
    ul {
        list-style-type: none;
    }
    ul li {
        display: inline-block;
        margin: 0 20px;
        cursor: pointer;
        font-size: 15px;
        color: #5d6e80;
        font-weight: 500;
        text-transform: uppercase;
    }
    .active {
        color: #1DD2AF;
    }
}
.carousel {
  position: relative;
  .carousel-inner {
      width: 100%;
      height: auto;
  }
  .carousel-item {
      display: none;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      img {
        max-width: 100%;
        height: auto;
      }
      .caption {
        position: absolute;
        z-index: 3;
        text-align: center;
        color: #fff;       
        p {
            font-size: 25px;
            font-weight: 500;    
        }
      }
      .caption h2 {
          font-size: 50px;
          text-transform: uppercase;
          font-weight: 700;
      }
      .btn {
          font-size: 20px;
          font-weight: 500;
          border-radius: 3px;
          border: none;
          overflow: hidden;
          color: #fff;
          cursor: pointer;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
      }
      .btn-map {
          background-color: #1DD2AF;
          border: 2px solid #1DD2AF;
          margin-right: 28px;
          width: 222px;
          height: 59px;
          text-transform: uppercase;
      }
      .btn-info {
        width: 159px;
        height: 59px;
        background-color: Transparent;
        border: 2px solid #fff;
        &:hover {
        background-color: #1DD2AF;
        border: 2px solid #1DD2AF;
          }
      }
  }
  .active {
      display: flex;
      background-color: #fff;
  }
  .carousel-control-prev, .carousel-control-next {
      position: absolute;
      z-index: 1;
      width: 80px;
      height: 80px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      opacity: 0.3;
      filter: alpha(opacity=30); /*for IE 8 & 9*/
      -moz-opacity:0.3; /*for Firefox older than 0.9*/
      cursor: pointer;
      bottom: 50%;
      &:hover {
          background-color: #1DD2AF;
          opacity: 0.8;
          filter: alpha(opacity=80); /*for IE 8 & 9*/
          -moz-opacity:0.8; /*for Firefox older than 0.9*/
      }
      i {
        font-size: 50px;
      }
  }
  .carousel-control-next {
      right: 0;
  }
  .carousel-control-prev {
      left: 0;
  }
}
main {
    display: block;  /*for IE*/
    width: 100%;
    height: 104px;
    background-color: #5e6b78;
    overflow: hidden;
    color: #9fb0c0;
    font-size: 22px;
    .left-side {
        width: 30%;
        float: left;
        position: relative;
        border-right: 1px solid #45586b;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: flex-end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: flex-end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 17px 20px;
        text-transform: uppercase;
        p {
            line-height: 30px;
            margin-top: 8px;
        }
        span {
            display: block;
            color: #fff;
            font-size: 25px;
            font-family: "Roboto";
            letter-spacing: 1px;
        }
        &:after {
            content: "";
            width: 10px;
            height: 10px;
            border-right: 1px solid #45586b;
            border-bottom: 1px solid #45586b;
            transform: rotate(-45deg);
            position: absolute;
            right: -6.5px;
            background-color: #5E6B78;
            top: 48px;
          }
    }
    .right-side {
        width: 70%;
        float: left;
        padding: 17px 20px;
        p {
            display: inline-block;
            margin-right: 15px;
            margin-left: 15px;
        }
        input {
            width: 326px;
            height: 49px;
            font-size: 20px;
            border: 1px solid #19242e;
            padding-left: 10px;
        }
        .dstntion, .selectd {
            position: relative;
            i {
                position: absolute;
                right: 25px;
                top: 23px;
                font-size: 25px;
            }
        }
        button {
            padding: 15px 23px;
            border: 1px solid #1DD2AF;
            font-size: 20px;
            padding: 10px 15px;
            background-color: #1DD2AF;
            color: #fff;
            cursor: pointer;
        }
    }
}
footer {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 26px;
    div {
        width: 23%;
        margin: 25px 30px;
        color: #fff;
    }
    div > h4 {
        font-size: 25px;
        margin: 12px 6px;
        color: #1dd2af;
    }
        i {
            font-size: 25px;
            color: #ffffff;
            margin-right: 30px;
            cursor: pointer;
        }
    .section-cntnt {
        width: 100%;
        height: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
        padding-left: 5px;
        img {
            width: 25px;
            height: 25px;
            position: relative;
            margin-right: 18px;
            top: 12px;
            outline: 1px solid #fff;
            outline-offset: 5px;
        }
        .galry, .snowbrd {
            width: 100%;
            padding: 0;
            p {
                margin: 0;
            }
        }
    }
    .tags {
        padding-right: 70px;
        span {
        font-size: 13px;
        border: 1px solid #fff;
        padding: 5px 8px;
        margin: 2px;
        display: inline-block;
        }
    }
    .newsletters input {
        width: 149px;
        margin-right: 5px;
        font-size: 13px;
        padding: 10px;
        border-radius: 3px;
    }
    .newsletters button {
        background-color: #1dd2af;
        border: 1px solid #004437;
        border-radius: 3px;
        padding: 9px 15px;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
    }
}
 /*for mobile devices*/
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #fff;
    }
    header {
        text-align: center;
        display: block;
        width: 100%;
        height: auto;
        ul {
            width: 100%;
            list-style-type: none;
            padding: 0;
        }
        ul li {
            font-size: 20px;
            padding: 5px;
            display: block;
            margin-right: auto;
            margin-left: auto;
            border-bottom: 1px solid #ddd;
            line-height: 26px;
        }
        ul li:last-child {
            border-bottom: none;
        }
        .icon {
            display: block;
        }
    }
    .carousel {
        display: none;
    }
    main {
        display: block;
        height: auto;
        .left-side {
            display: none;
        }
        .right-side {
            width: 100%;
            height: auto;
            padding: 10px;
            p {
                display: none;               
            }
            input {
                width: 100%;
                height: 40px;
                font-size: 20px;
                border: 1px solid #19242e;
                padding-left: 10px;
                margin: 10px 0;
            }
            .dstntion, .selectd {
                i {
                    right: 18px;
                    top: 21px;
                    font-size: 20px;
                }
            }
            button {
                width: 99.7%;
                height: 40px;
                border: none;              
                margin: 10px 0;
                padding: 10px;
            }
        }
    }
    footer {
        width: 100%;
        flex-flow: column wrap;
        background-color: #2C3E50;
        div {
            width: 100%;
            border-bottom: 1px solid #7E8D9C;
            margin: 0;
            padding: 20px;
            h4 {
                font-size: 22px;
                margin: 0;
                padding: 0;
            }
        }       
            i {
                font-size: 20px;             
            }
        .newsletters input {
            width: 200px;
            height: 35px;
            padding-left: 10px;
            margin-right: 6px;
            border: none;
        }
        .newsletters button {
            font-size: 13px;
            padding: 10px 15px;
        }
        .section-cntnt, .galry, .snowbrd {
            border-bottom: none;
        }
        .address {
            border-bottom: none;
        }
    }
}
/*for tablets*/
@media only screen and (min-width: 601px) {
    header {
        width: 100%;
        height: auto;
        text-align: center;
        h1 {
            margin-left: 10px;
            font-size: 30px;

        }
        ul {
            padding: 0;
        }
        ul li {
            display: inline-block;
            margin: 0 5px;
            font-size: 14px;
            border-bottom: none;
        }
    }
    .carousel {
        display: block;
      
      .carousel-item {
 
          .caption {
                 
            p {
                font-size: 16px;     
            }
          }
          .caption h2 {
              font-size: 35px;
          }
          .btn {
              font-size: 14px;
          }
          .btn-map {
              margin-right: 15px;
              width: 150px;
              height: 40px;
          }
          .btn-info {
            width: 100px;
            height: 40px;
          }
      }
      .carousel-control-prev, .carousel-control-next {
          width: 50px;
          height: 50px;  
          bottom: 40%;
          i {
            font-size: 40px;
          }
      }
    }
  
    main {
        height: auto;
        font-size: 14px;
        .left-side {
            width: 20%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: flex-end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: flex-end;
            justify-content: flex-end;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 10px;
            p {
                line-height: 30px;           
            }
            span {
                font-size: 16px;
            }
        }
        .right-side {
            width: 80%;
            height: 100px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: space-evenly;
            -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            float: left;
            padding: auto;
            p {
                display: inline-block;
                font-size: 18px;
                margin-right: 5px;
                margin-left: 5px;
            }
            input {
                width: 100%;
                height: 45px;
                font-size: 16px;
                padding-left: 10px;
            }
            .dstntion, .selectd {
                i {
                    right: 10px;
                    top: 13px;
                    font-size: 20px;
                }
            }
            button {
                width: 100px;
                height: 45px;
                border: 1px solid #1DD2AF;
                font-size: 20px;
                margin-left: 15px;
                padding: 10px 15px;
                background-color: #1DD2AF;
                color: #fff;
                cursor: pointer;
            }
        }
    }
    footer {
        width: 100%;
        flex-flow: column wrap;    
        div {
            width: 100%;
            border-bottom: 1px solid #7E8D9C;
            margin: 0;
            padding: 20px;
            h4 {
                margin: 0;
                padding: 0;
            }
        }
        .section-cntnt, .galry, .snowbrd {
            border-bottom: none;  
        }
            i {
                font-size: 20px;              
            }
        .newsletters input {
            width: 200px;
            height: 35px;
            padding-left: 10px;
            margin-right: 6px;
            border: none;
        }
        .newsletters button {
            font-size: 14px;
        }
        .address {
            border-bottom: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    main {
        height: auto;
        font-size: 18px;
        .left-side {
            width: 20%; 
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: flex-end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: flex-end;
            justify-content: flex-end;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 10px;
            p {
                line-height: 30px;            
            }
            span {
                font-size: 20px;
            }
        }
        .right-side {
            input {
                width: 190px;
            }
            .dstntion, .selectd {
                i {
                    right: 15px;
                    top: 12px;
                    font-size: 23px;
                }
            }
            button {
                width: 90px;
                height: 42px;
            }
        }
    }
}
/*for desktop*/
@media only screen and (min-width: 992px) {
       header h1 {           
            font-size: 35px;
       }
    .carousel {
        .carousel-item {           
            .caption {       
              p {
                  font-size: 22px;                 
              }
            }
            .caption h2 {
                font-size: 40px;
            }
            .btn {
                font-size: 18px;
            }
            .btn-map {
                font-size: 16px;
                margin-right: 28px;
                width: 170px;
                height: 50px;
                text-transform: uppercase;
            }
            .btn-info {
              width: 140px;
              height: 50px;            
            }
        }
        .carousel-control-prev, .carousel-control-next {
            width: 60px;
            height: 60px;
            bottom: 45%;
            i {
              font-size: 35px;
            }
        }
      }
      main .right-side {
        input {
            width: 250px;
        }
        button {
            padding: -1px 0;
            margin-left: 0;
        }
    }
}

@media only screen and (min-width: 1200px) {
    header {
        h1 {
            font-size: 40px;
        }
        ul li {
            font-size: 15px;
            margin: 0 20px;
            font-weight: 700;
        }
    }
    .carousel {
      .carousel-item {
          .caption {   
            p {
                font-size: 25px;   
            }
          }
          .caption h2 {
            font-size: 50px;
          }
          .btn {
            font-size: 20px;
            text-transform: uppercase;
          }
          .btn-map {
            margin-right: 25px;
            width: 222px;
            height: 59px;
          }
          .btn-info {
            width: 159px;
            height: 59px;
          }
      }
      .carousel-control-prev, .carousel-control-next {
          width: 80px;
          height: 80px;
          bottom: 45%;
          i {
            font-size: 40px;
          }
      }
    }  
    main {
        height: 104px;
        .left-side {
            width: 30%;
            padding-right: 36px;
            font-size: 20px;
            span {
                font-size: 25px;
            }
        }
        .right-side {
            width: 70%;
            -webkit-box-pack: flex-start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: flex-start;
            justify-content: flex-start;
            p {
                font-size: 22px;
            }
            input {
                width: 270px;
                height: 49px;
                font-size: 20px;
                margin: 10px;
            }
            .dstntion, .selectd {
                i {
                    right: 25px;
                    top: 23px;
                    font-size: 25px;
                }
            }
            button {
                width: 108px;
                height: 49px;
                font-size: 20px;
            }
        }
    }
    footer {
        flex-direction: row;
        div {
            display: inline-block;
            width: 23%;
            float: left;
            margin: 0;
            border-bottom: none;
        }
        div > h4 {
            font-size: 25px;
            margin-top: 50px;
        }
        i {
            font-size: 25px;
        }
        .newsletters input {
            width: 149px;
            font-size: 13px;
            padding: 10px;
        }
        .newsletters button {
            font-size: 15px;
        }
    }
}